div {
  border: 2px solid black;
  margin: 10px;
}
.static {
  position: static;
}
.relative {
  position: relative;
  width: 400px;
  height: 400px;
  left: 50px;
}
.absolute {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  right: 50px;
}
.fixed {
  position: fixed;
  bottom: 50%;
  right: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
